.product {
    width: 1000px;
    height: 100%;
    border: 1px solid rgb(255, 253, 253);
    margin: auto;
    background-color: white;

    .title {
        display: flex;
        text-align: center;
        font-size: 1.5rem;
        align-items: center;
        flex-direction: column;
        color: rgb(42, 96, 73);

        h4 {
            margin-bottom: 0;
        }

        p {
            font-size: 1rem;
        }
    }
}

@media (max-width: 760px) {
    .product {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;
        justify-content: center;
        .title {
            display: flex;
        }
    }
}
