.banner {
    width: 1000px;
    height: 540px;
    margin: auto;
    background-size: cover;
}

.banner_image {
    opacity: 0.5;
    transition: 0.5s ease-in-out;
}

.banner_des {
    font-size: 3rem;
    position: relative;
    bottom: 400px;
    left: 100px;
}

.banner_text {
    color: rgb(42, 96, 73);
    font-weight: 300;
    margin: 0;
}
.banner_title {
    margin-bottom: 20px !important;
}

.banner_text_des {
    font-weight: 100;
    opacity: 70%;
    color: rgb(11 145 88);
}

.banner_btn {
    width: 150px;
    height: 50px;
    background-color: rgb(106 172 86);
    border: 0;
    font-size: 16px;
    color: white;
    font-weight: 800;
}

.banner_footer_wrap {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 370px;
    display: flex;
    gap: 10px;
}

.banner_footer_btn {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: 0.5; /* 기본적으로 투명도를 설정 */
}

.banner_footer_btn.active {
    opacity: 1; /* 현재 이미지에 해당하는 버튼은 투명도를 1로 설정 */
    background-color: rgb(106 172 86);
}

@media (max-width: 760px) {
    .banner {
        // width: 100%; /* 화면 너비에 맞추기 위해 100%로 설정 */
        // max-height: 203px; /* 화면 크기에 맞춰 조절해주세요 */
        display: none;
    }
}
